#{extends 'Secure/layout.html' /}
#{set title:messages.get('login') /}

<!-- Container -->
<div class="signin-container">

    <!-- Left side -->
    <div class="signin-info">
        <a href="/" class="logo">
            <img src="@{'/public/images/logo.png'}" alt="" style="margin-top: -5px;width: 16px;">&nbsp;
        &{'application.name'}
        </a> <!-- / .logo -->
        <div class="slogan">
            和谐、绩效、责任
        </div> <!-- / .slogan -->
        <ul>
            <li><i class="fa fa-sitemap signin-icon"></i> 与自然和谐、与社会和谐、与竞争者和谐、与员工和谐</li>
            <li><i class="fa fa-file-text-o signin-icon"></i> 追求持续一流的绩效，争取国内领先和顶尖</li>
            <li><i class="fa fa-heart signin-icon"></i> 自觉地履行央企应负的责任</li>
        </ul> <!-- / Info list -->
    </div>
    <!-- / Left side -->

    <!-- Right side -->
    <div class="signin-form">

        #{if flash?.error}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
            ${flash.error}
            </div>
        #{/if}

        #{if flash?.success}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                ${flash.success}
            </div>
        #{/if}

        <!-- Form -->
        <form action="@{authenticate()}" id="signin-form_id" method="post">
            <div class="signin-text">
                <span>&{'login'}</span>
            </div> <!-- / .signin-text -->



            <div class="form-group w-icon">
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="&{'username'}" value="${flash.username}">
                <span class="fa fa-user signin-form-icon"></span>
            </div> <!-- / Username -->

            <div class="form-group w-icon">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="&{'password'}">
                <span class="fa fa-lock signin-form-icon"></span>
            </div> <!-- / Password -->

            <div class="form-actions">
                <input type="submit" value="&{'submit'}" class="signin-btn bg-primary">
                <a href="@{Vender.toForget()}" class="forgot-password" id="forgot-password-link">忘记了密码？找回密码</a>
            </div> <!-- / .form-actions -->
        </form>
        <!-- / Form -->

        <!-- "Sign In with" block -->
        *{<div class="signin-with">}*
            *{<!-- Facebook -->}*
            *{<a href="#" class="signin-with-btn" style="background:#4f6faa;background:rgba(79, 111, 170, .8);">Sign In with <span>Facebook</span></a>}*
        *{</div>}*
        <!-- / "Sign In with" block -->

    </div>
    <!-- Right side -->
</div>
<!-- / Container -->

<div class="not-a-member">
    还没有成为我们的供应商？ <a href="@{Vender.register()}">现在就注册</a>
</div>

<div class='login-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-4 col-sm-offset-4'>
                  <h1 class='text-center title'>&{'login'}</h1>
                  #{form @authenticate()}
                  	#{if flash.error}
						<div class="alert alert-danger alert-dismissable">
							<a class="close" data-dismiss="alert" href="#">×</a>
							<i class="icon-remove-sign"></i>
							&{flash.error}
						</div>
					#{/if}
					#{if flash.success}
						<div class="alert alert-info alert-dismissable">
							<a class="close" data-dismiss="alert" href="#">×</a>
							<i class="icon-info-sign"></i>
							&{flash.success}
						</div>
					#{/if}
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <input placeholder="&{'username'}" class="form-control" data-rule-required="true" name="username" id="username" type="text" value="${flash.username}" />
                        <i class='icon-user text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <input value="" placeholder="&{'password'}" class="form-control" data-rule-required="true" name="password" id="password" type="password" />
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='checkbox'>
                      <label for='remember_me'>
                        <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
						&{'secure.remember'}
                      </label>
                    </div>
                    <button class='btn btn-block' type="submit">&{'submit'}</button>
                  #{/form}
                  <div class='text-center'>
                    <hr class='hr-normal'>
                    <a href='forgot_password.html'>&{'password.forget'}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container-footer'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <a href='@{Vender.register()}'>
                      <i class='icon-user'></i>
                      &{'supplier.account.no'}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
