#{field 'object.' + _name}
	<div class="control-label col-sm-3 col-sm-3">
	    <label class="control-label " for="${field.id}">
	        &{_name}
	    </label>
    </div>
    <div class="col-md-9 controls">
	    <input id="${field.id}" class="form-control ${field.errorClass}" type="text" name="${field.name}" value="${_value?.format()}" size="10" readonly/>
	    #{ifError field.name}
	        <span class=" has-error help-block">${field.error.raw()}</span>
	    #{/ifError}
	</div>
#{/field}

<script type="text/javascript">

</script>