#{field 'object.' + _name}
    <label class="control-label col-sm-3 col-sm-3" for="${field.id}">
        &{_name}
    </label>
    <div class="col-md-9 controls">
	    <input id="${field.id}" type="text" class="form-control ${field.errorClass}" data-rule-number="true" name="${field.name}" value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" size="5" />
	    #{ifError field.name}
	        <span class=" has-error help-block">${field.error.raw()}</span>
	    #{/ifError}
	</div>
#{/field}
