#{extends 'main.html' /}
#{set title:messages.get('change.password') /}



<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="pull-left">
                <i class="icon-ok"></i> <span>&{'change.password'}</span>
            </h1>
            <div class="pull-right">
            </div>
        </div>
    </div>
</div>
<form class="form form-horizontal validate-form" action="@{Users.changePassword()}"
				style="margin-bottom: 0;" novalidate="novalidate" method="post" id="regForm">
<div class="row">
	<div class="col-md-12">
		<div class="row">
			
				<div class="col-md-6">
					<div class="form-group dark">
						<div class="control-label col-md-3">
							<label class="control-label" for="validation_password">密码</label>
						</div>
						<div class="col-md-9 controls">
							<input class="form-control"  data-rule-required="true" id="password" name="password" type="password">
						</div>
					</div>

				</div>
				<div class="col-md-6">

                    <div class="form-group dark">
                        <div class="control-label col-md-3">
                            <label class="control-label" for="validation_repassword">密码确认</label>
                        </div>
                        <div class="col-md-9 controls">
                            <input class="form-control"  data-rule-required="true" data-rule-equalto="#password" id="repassword" name="repassword" type="password">
                        </div>
                    </div>
                </div>

		</div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-7 col-sm-offset-5">
                    <button class="btn btn-success" type="submit"><i class="icon-save"></i> &{'save'}</button>
                </div>
            </div>
        </div>
	</div>
</div>

</form>


    
	    
	  