#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1 class="pull-left">
				<i class="icon-ok"></i> <span>&{'crud.show.title', type.modelName}</span>
			</h1>
			<div class="pull-right">
				<ul class="breadcrumb">
					<li><a href="/"> <i class="icon-dashboard"></i></a></li>
					<li class="separator"><i class="icon-angle-right"></i></li>
					<li><a href="@{list()}">&{'crud.list.title', type.name}</a></li>
					<li class="separator"><i class="icon-angle-right"></i></li>
					<li class="active">&{'delete'}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		#{form action:@save(object._key()), enctype:'multipart/form-data', class:'form form-horizontal validate-form'}
	        #{crud.form /}
	        <div class="form-actions" style="margin-bottom: 0">
				<div class="row">
					<div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-sm" name="_save"><i class="fa fa-save"></i>&nbsp;&nbsp;&{'crud.save', type.modelName}</button>
                        <button type="submit" class="btn btn-info btn-sm" name="_saveAndContinue"><i class="fa fa-save"></i>&nbsp;&nbsp;&{'crud.saveAndContinue', type.modelName}</button>
	            		<a class="btn btn-danger btn-sm" href="@{delete(object._key())}">&{'crud.delete', type.modelName}</a>
	        		</div>
	        	</div>
	        </div>
	    #{/form}
	</div>
</div>