<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- / bootstrap [required] -->
	    <link href="@{'/public/stylesheets/bootstrap/bootstrap.css'}" media="all" rel="stylesheet" type="text/css" />
	    <!-- / theme file [required] -->
	    <link href="@{'/public/stylesheets/light-theme.css'}" media="all" id="color-settings-body-color" rel="stylesheet" type="text/css" />
	    <!-- / coloring file [optional] (if you are going to use custom contrast color) -->
	    <link href="@{'/public/stylesheets/theme-colors.css'}" media="all" rel="stylesheet" type="text/css" />
	    <!-- / demo file [not required!] -->
	    <link href="@{'/public/stylesheets/demo.css'}" media="all" rel="stylesheet" type="text/css" />
	    <!--[if lt IE 9]>
	      <script src="@{'/public/javascripts/ie/html5shiv.js'}" type="text/javascript"></script>
	      <script src="@{'/public/javascripts/ie/respond.min.js'}" type="text/javascript"></script>
	    <![endif]-->
	        
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body class="contrast-sea-blue">
    	 <header>
	      <nav class='navbar navbar-default'>
	        <a class='navbar-brand' href='index.html'>
	          <img width="200" height="35" class="logo" alt="Flatty" src="@{'/public/images/logo.png'}" />
	          <!-- <img width="21" height="21" class="logo-xs" alt="Flatty" src="/public/images/logo_xs.svg" /> -->
	        </a>
	        
	        <ul class='nav'>
				<li class='dropdown dark user-menu'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'> 
						<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<span class='user-name'>${session.get("username")}</span> <b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a href='user_profile.html'> <i class='icon-user'></i> &{'profile'}</a>
						</li>
						<li>
							<a href='user_profile.html'> <i class='icon-cog'></i> &{'settings'}</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='@{Secure.logout()}'> <i class='icon-signout'></i> &{'logout'}</a>
						</li>
					</ul>
				</li>
			</ul>
	        <!-- <form action='search_results.html' class='navbar-form navbar-right hidden-xs' method='get'>
	          <button class='btn btn-link icon-search' name='button' type='submit'></button>
	          <div class='form-group'>
	            <input value="" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text" />
	          </div>
	        </form> -->
	      </nav>
	    </header>
	    <div id='wrapper'>
	      <div id='main-nav-bg'></div>
	      <nav id='main-nav'>
	        <div class='navigation'>
	          <div class='search'>
	            <form action='search_results.html' method='get'>
	              <div class='search-wrapper'>
	                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
	                <button class='btn btn-link icon-search' name='button' type='submit'></button>
	              </div>
	            </form>
	          </div>
	          <ul class='nav nav-stacked'>
	          	#{deadbolt.restrict roles:[['superadmin'],['user']] }
	           
	            <!-- For Supplier (USER) -->
	            <li class=''>
	              <a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
	              <span>&{'tender'}</span>
	              <i class='icon-angle-down angle-down'></i>
	              </a>
	      
	            </li>
	            
	            <li>
	              <a class='dropdown-collapse ' href='#'>
	                <i class='icon-tint'></i>
	                <span>&{'supplier'}</span>
	                <i class='icon-angle-down angle-down'></i>
	              </a>
	              <ul class='nav nav-stacked'>
	                <li class=''>
	                  <a href='ui_elements.html'>
	                    <i class='icon-caret-right'></i>
	                    <span>&{'supplier.info'}</span>
	                  </a>
	                </li>
	                <li class=''>
	                  <a href='widgets.html'>
	                    <i class='icon-caret-right'></i>
	                    <span>&{'supplier.comment'}</span>
	                  </a>
	                </li>
	                <li class=''>
	                  <a href='widgets.html'>
	                    <i class='icon-caret-right'></i>
	                    <span>&{'supplier.qualification'}</span>
	                  </a>
	                </li>
	              </ul>
	            </li>
	            #{/deadbolt.restrict}
	            <!-- For Admin -->
	            #{deadbolt.restrict roles:[['superadmin'],['admin']] }
	            <li>
	              <a class='dropdown-collapse ' href='#'>
	                <i class='icon-cogs'></i>
	                <span>&{'user'}</span>
	                <i class='icon-angle-down angle-down'></i>
	              </a>
	              <ul class='nav nav-stacked'>
	                <li class=''>
	                  <a href='@{Users.blank()}'>
	                    <i class='icon-bar-chart'></i>
	                    <span>&{'user.new'}</span>
	                  </a>
	                </li>
	                <li class=''>
	                  <a href='@{Users.list()}'>
	                    <i class='icon-envelope'></i>
	                    <span>&{'user.manager'}</span>
	                  </a>
	                </li>
	                
	              </ul>
	            </li>
	            #{/deadbolt.restrict}
	            #{deadbolt.restrict roles:[['superadmin'],['admin'],['system']] }
	            <li>
	              <a class='dropdown-collapse ' href='#'>
	                <i class='icon-book'></i>
	                <span>&{'request'}</span>
	                <i class='icon-angle-down angle-down'></i>
	              </a>
	              <ul class='nav nav-stacked'>
	                <li class=''>
	                  <a href='@{Requests.blank()}'>
	                    <i class='icon-money'></i>
	                    <span>&{'request.new'}</span>
	                  </a>
	                </li>
	                <li class=''>
	                  <a href='@{Requests.list()}'>
	                    <i class='icon-picture'></i>
	                    <span>&{'request.manager'}</span>
	                  </a>
	                </li>
	              </ul>
	            </li>
	            #{/deadbolt.restrict}
	            #{deadbolt.restrict roles:[['superadmin'],['admin'],['system'],['operator']] }
	            <li>
	              <a class='dropdown-collapse ' href='#'>
	                <i class='icon-cog'></i>
	                <span>&{'supplier'}</span>
	                <i class='icon-angle-down angle-down'></i>
	              </a>
	              <ul class='nav nav-stacked'>
	                <li class=''>
	                  <a href='@{Profiles.list()}'>
	                    <i class='icon-caret-right'></i>
	                    <span>&{'supplier.manager'}</span>
	                  </a>
	                </li>
	              </ul>
	            </li>
	            #{/deadbolt.restrict}
	          </ul>
	        </div>
	      </nav>
	      <section id='content'>
	        <div class='container-fluid'>
	          
	          #{doLayout /}
	          <footer id='footer'>
	            <div class='footer-wrapper'>
	              <div class='row'>
	                <div class='col-sm-6 text'>
	                  Copyright © 2009-2014 HA Inc.
	                </div>
	                <div class='col-sm-6 buttons'>
	                  <a class="btn btn-link" href="http://www.hatech.com.cn">&{'hatech.about'}</a>
	                </div>
	              </div>
	            </div>
	          </footer>
	        </div>
	      </section>
	    </div>
	    <!-- / jquery [required] -->
	    <script src="@{'/public/javascripts/jquery/jquery.min.js'}" type="text/javascript"></script>
	    <!-- / jquery mobile (for touch events) -->
	    <script src="@{'/public/javascripts/jquery/jquery.mobile.custom.min.js'}" type="text/javascript"></script>
	    <!-- / jquery migrate (for compatibility with new jquery) [required] -->
	    <script src="@{'/public/javascripts/jquery/jquery-migrate.min.js'}" type="text/javascript"></script>
	    <!-- / jquery ui -->
	    <script src="@{'/public/javascripts/jquery/jquery-ui.min.js'}" type="text/javascript"></script>
	    <!-- / jQuery UI Touch Punch -->
	    <script src="@{'/public/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js'}" type="text/javascript"></script>
	    <!-- / bootstrap [required] -->
	    <script src="@{'/public/javascripts/bootstrap/bootstrap.js'}" type="text/javascript"></script>
	    <!-- / modernizr -->
	    <script src="@{'/public/javascripts/plugins/modernizr/modernizr.min.js'}" type="text/javascript"></script>
	    <!-- / retina -->
	    <script src="@{'/public/javascripts/plugins/retina/retina.js'}" type="text/javascript"></script>
	    <!-- / theme file [required] -->
	    <script src="@{'/public/javascripts/theme.js'}" type="text/javascript"></script>
	    
	    <script>
	      (function() {
	      })
	    </script>
    	
        
    </body>
</html>
